@import './assets/variables.scss';

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.my-form-field .mat-form-field-wrapper {
    margin-bottom: -1.25em !important;
}

.mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px !important;
}

.mat-form-field-label-wrapper { 
    top: -1.8em !important; 
}