<div class="container">
    <div class="row">
        <div class="col-md-7 right-b">
            <app-currently-reading></app-currently-reading>
        </div>

        <div class="col-md-5">
            <app-reading-challenge></app-reading-challenge>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <app-want-to-read></app-want-to-read>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 right-b">
            <app-recommendations></app-recommendations>
        </div>
        <div class="col-md-7">
            <app-updates></app-updates>
        </div>
    </div>
</div>