@import '../../assets/variables.scss';

::ng-deep mat-grid-tile {
    margin-top: 0;
}

.right-b {
    border-right: 1px solid $light-beige;
}

mat-drawer {
    background-color: $main-color !important;
    color: #fff !important;
}

mat-toolbar {
    background-color: #fff !important;
    border-bottom: 1px solid $light-beige !important;
}

mat-expansion-panel, .mat-expansion-panel {
    background-color: $main-color !important;
    color: #fff !important;
    box-shadow: none !important;
}

mat-expansion-panel-header {
    padding: 0 !important
}

::ng-deep .mat-expansion-indicator::after {
    color: #fff !important;
}

@media (max-width: 800px) {
    .fab-btns {
        display: none;
    }
}