<mat-drawer-container class="h-100" autosize hasBackdrop>
    <mat-drawer #drawer 
                class="p-2" 
                mode="side">
        <img src="../assets/images/logo.png" 
             alt="logo"
             class="d-block mx-auto w-30">

        <hr/>
        
        <mat-accordion>
            <div *ngFor="let link of sidenavLinks">
                <div *ngIf="!link.children" class="pb-3">
                    <mat-icon>{{link.icon}}</mat-icon>
                    {{link.name}}
                </div>
                <div *ngIf="link.children">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-icon>{{link.icon}}</mat-icon>
                            {{link.name}}
                        </mat-expansion-panel-header>
                        <div *ngFor="let innerLink of link.children" class="p-2">
                            {{innerLink.name}}
                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
        </mat-accordion>
    </mat-drawer>
  
    <div class="d_flex h-100">
        <mat-toolbar class="d-flex justify-content-between">
            <button type="button" mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            
            <app-search></app-search>

            <div class="fab-btns">
                <button mat-mini-fab color="primary" class="me-2">
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="me-2">
                    <mat-icon>chat</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="me-2">
                    <mat-icon>mail_outline</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="me-2">
                    <mat-icon>people</mat-icon>
                </button>
                <button mat-mini-fab color="primary" class="me-2">
                    <mat-icon>person</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="container">
            <div class="row">
                <div class="col-md-7 right-b">
                    <app-currently-reading></app-currently-reading>
                </div>
        
                <div class="col-md-5">
                    <app-reading-challenge></app-reading-challenge>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <app-want-to-read></app-want-to-read>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-5 right-b">
                    <app-recommendations></app-recommendations>
                </div>
                <div class="col-md-7">
                    <app-updates></app-updates>
                </div>
            </div>
        </div>
      
    </div>
</mat-drawer-container>